@model QuanLiRapPhim.Areas.Admin.Models.Movie

<h1>@(ViewContext.RouteData.Values["id"] == null ? "Thêm" : "Cập nhật")</h1>
<form asp-action=@(ViewContext.RouteData.Values["id"] == null ? "Create" : "Edit") method="post" class="row" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{ if (ViewContext.RouteData.Values["id"] != null)
        {
            <input id="idEdit" type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Trailer" />
            <input type="hidden" asp-for="Poster" />

        }
    }
    <div class="form-group col-6">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MacId" class="control-label"></label>
            <select asp-for="MacId" class="form-control" name="MacId" asp-items="ViewBag.MacId">
            </select>
            <span asp-validation-for="MacId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Describe" class="control-label"></label>
            <textarea asp-for="Describe" class="form-control"> </textarea>
            <span asp-validation-for="Describe" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Time" class="control-label"></label>
            <input asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Categories</label>
            <select id="#mySelect2" style="width:100%" class="form-control js-example-basic-single" name="Lstcategories[]" multiple="multiple" asp-items="ViewBag.categories">
                @{ if (ViewContext.RouteData.Values["id"] != null)
                    {
                        foreach (var (index, value) in @Model.Lstcategories.Select((value, i) => (i, value)))
                        {

                            <option selected value="@value.Id">@value.Title</option>
                        }
                    }
                }
            </select>

            <span asp-validation-for="Lstcategories" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-6">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <div class="custom-file">
            <input asp-for="Trailer" accept="video/mp4,video/x-m4v,video/*" type="file" name="video" class="custom-file-input" id="video" />
            <label class="custom-file-label" for="video" id="mess">@(ViewContext.RouteData.Values["id"] == null ? "Thêm mới video" : "Cập nhật video")</label>
            <span id="Trailer" asp-validation-for="Trailer" class="text-danger">@TempData.Peek("MessageTrailer")</span>
            <video id="Prevideo" width="400" height="300" controls="controls" src="~/admin/img/Trailer/@(ViewContext.RouteData.Values["id"] == null ? "" : ViewData["Trailer"])"></video>
        </div>
        <div class="custom-file">
            <input asp-for="Poster" accept="image/*" type="file" name="ful" class="custom-file-input" id="ful" />
            <label class="custom-file-label" for="ful">Add Poster</label>
            <span asp-validation-for="Poster" class="text-danger">@TempData.Peek("MessagePoster")</span>
        </div>
        <div class="form-group">
            <img id="imgPre" src="~/admin/img/Poster/@(ViewContext.RouteData.Values["id"] == null ? "Noimage.png" : ViewData["Poster"])" alt="Alternate Text" width="400" height="300" />
        </div>
    </div>
    <div class="form-group col-12 d-flex justify-content-center">
        <input type="submit" value="@(ViewContext.RouteData.Values["id"] == null ? "Thêm" : "Cập nhật")" class="btn btn-primary" />
        @{ if (ViewContext.RouteData.Values["id"] != null)
            {
                <a href="~/admin/Movies" class="btn btn-warning">Hủy</a>
            }
        }
    </div>

</form>