
@{
    ViewData["Title"] = "Index";
}
@model QuanLiRapPhim.Areas.Admin.Controllers.HomeController.InputUser
@using Microsoft.AspNetCore.Identity
@using QuanLiRapPhim.Areas.Admin.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div ng-app="App" ng-controller="Ctroller">
    @{
        if (TempData.Peek("Mess") != null)
        {
            <h2 class="alert alert-success">@TempData.Peek("Mess")</h2>
        }
    }
    <form asp-action="EditUser" asp-controller="Home" asp-area="Admin" method="post" class="row" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input id="idEdit" type="hidden" />
        <div class="form-group col-6" style="text-align:center;">
            @{ if (User.FindFirst("Role").Value.Contains("admin"))
                {
                    <div class="custom-file" style="margin-top: 30px; width:300px;">
                        <input accept="*.png|*.jpg|*.jpep" type="file" name="ful" class="custom-file-input" id="ful" />
                        <label class="custom-file-label" for="ful" style="text-align:left;"><span><i class="fa fa-camera"></i> Đổi avatar</span></label>
                    </div>
                }
            }

            <img id="imgPre" src="~/admin/img/@(ViewData["Img"] == null ? "avatar.png" : ViewData["Img"])" alt="Alternate Text" style="width:300px; height:300px;" />


        </div>
        @{if (User.FindFirst("Role").Value.Contains("admin"))
            {
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" name="FullName" class="form-control" value="@Model.FullName" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" name="DateOfBirth" class="form-control" value="@Model.DateOfBirth.ToString("yyyy-dd-MM")" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" value="@Model.UserName" class="form-control" disabled />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-12 d-flex justify-content-center">
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                </div>
            }
            else
            {
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" name="FullName" class="form-control" value="@Model.FullName" disabled />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" name="DateOfBirth" class="form-control" value="@Model.DateOfBirth.ToString("yyyy-dd-MM")" disabled />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" value="@Model.UserName" class="form-control" disabled />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            }
        }

    </form>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="row modal-header">
                <h4 class="col-3 modal-title">Thông báo</h4>
                <div class="col-5"></div>
                <button type="button" class="col-3 close" ng-click="reloadData(true)" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <h2 class="alert alert-success">{{notification}}</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="reloadData(true)" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/View/admin/Home/controller.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL(input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ful").change(function () {
            readURL(this, '#imgPre');
        })
    </script>
}