@{
    ViewData["Title"] = "Movie Review";
}
<div ng-app="App" ng-controller="Ctroller">
    <div style="width:100%">
        <ul class="listday">
            @foreach (DateTime a in ViewBag.Dates)
            {
                <li ng-click="GetDate('@a.ToShortDateString()')">
                    <div class=" @(a.Day.Equals(DateTime.Now.Day) ? "day current" : "day")">
                        <span>@a.Month</span>
                        <em>@a.DayOfWeek.ToString()</em>
                        <strong>@a.Day</strong>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="Showtimes row">
        <div style="text-align:center; width:100%; font-size:30px" ng-show="data.error"><strong>{{mess}}</strong></div>
        <div class="item" ng-repeat="item in data.object">
            <a href="https://localhost:44350/bookticket/Index/{{item.id}}">
                <img src="https://localhost:44350/admin/img/Poster/{{item.poster}}" width="75" height="100" />
            </a>
            <div class="item-infor">
                <div><strong>Tên phim:<span><a href="https://localhost:44350/moviereview#!/{{item.title}}"> {{item.title}}</a></span></strong></div>
                <div><strong>Giờ chiếu:</strong> {{item.time}}</div>
                <div><strong>Phòng chiếu:</strong> {{item.name}}</div>
                <div><strong>Ghế đã đặt:</strong> {{item.soghe}}/{{item.total}}</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/View/front-end/showtimes/controller.js"></script>
    <script src="~/js/jquery.blockUI.js"></script> 
    <link href="~/css/style.css" />
}